

.section__funciones {
    margin: 20px;
    padding: 20px;
    text-align: center;
}



/* Responsive para Pantallas Medianas */

@media (max-width: 768px) {
    

}

/* Media para tamaño chico */

@media (max-width: 480px) {
    
    .section__funciones {
        margin: 10px;
        padding: 10px;
        text-align: center;
        height:auto;
        width: 100vw;
        
    }

}
